<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs'); %>
    <title>Chats | CRMS</title>
</head>

<body class="">
<div class="wrapper">
    <%- include('../components/sidebar.ejs'); %>
    <div class="main-panel">
        <%- include('../components/navbar.ejs'); %>
        <div class="content">
            <div class="container-fluid">
                <!--Content goes here-->
                <%- include('./chattemp.ejs'); %>
                <!--End content-->
            </div>
        </div>
        <%- include('../components/footer.ejs'); %>
    </div>
</div>
<%- include('../components/settings-popup.ejs'); %>
<%- include('../components/js-scripts.ejs'); %>
<script src="../assets/js/custom/socketio/socket.io.js"></script>
<script>
	const socket = io('/cssa-messages',{});
	socket.on("connect", () => {
		const engine = socket.io.engine;
	});
</script>
</body>
</html>
