<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs'); %>
    <title>Archives | <%= process.env.APP_NAME %></title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="../assets/css/chattemp.css" rel="stylesheet" />

</head>

<body class="">
<div class="wrapper">
    <%- include('../components/sidebar.ejs', {slug: 'archives'}); %>
    <div class="main-panel">
        <%- include('../components/navbar.ejs', {name: 'Archives', url: '/chat/archives'}); %>
        <div class="content">
            <div class="container-fluid">
                <!--Content goes here-->
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-4 border-right">
                            <div class="settings-tray">
                                <div class="h6">All Archived Chats</div>
                                <span class="settings-tray--right">
                               </span>
                            </div>

                            <div class="overflow-auto" style="height: 540px">
                        <% for(var i=0; i<chats.length; i++) {%>
                            <div class="friend-drawer selectchats friend-drawer--onhover" id=<%= chats[i]._id %>>
                                <i class='fa fa-user-circle' style='font-size:40px'></i>
                                <div class="text">
                                    <h6><%= chats[i].customer_name %></h6>
                                    <p class="text-muted"><%= chats[i].title_question %></p>
                                </div>
                                <input type="hidden" id="cust-name" value=<%- chats[i].customer_name %> >
                                <input type="hidden" id="cust-email" value=<%- chats[i].customer_email %> >
                                <span class="time text-muted small">13:21</span>
                            </div>
                            <hr>
                        <% } %>
                        
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="settings-tray">
                                <div class="friend-drawer no-gutters friend-drawer--grey">
                                    <i class='fa fa-user-circle' style='font-size:40px;display: none;' id="profile-pic"></i>
                                    <div class="text">
                                         <h6 id="customer-name"></h6>
                                        <p id="customer-email" class="text-muted">Select a chat...</p> 
                                    </div>
                                    <span class="settings-tray--right">
                                    </span>
                                </div>
                            </div>
                            <div class="chat-panel">
                                <!-- <div class="overflow-auto" style="height: 540px">
                               

                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--End content-->
            </div>
        </div>
    </div>
</div>

<%- include('../components/js-scripts.ejs'); %>
<script src="../assets/js/loadChats.js"></script>




</body>
</html>
